<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recipe Gallery</title>
    <link rel = "stylesheet" href = "css/bootstrap.css">
    <link rel = "stylesheet" href="css/custom.css">
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand/logo -->
    <a class="navbar-brand" id = #logo href="/">My Recipe Book</a>

    <!-- Links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/gallery">Gallery</a>
        <li class="nav-item">
            <a class="nav-link" href="/Recipe1">Crabcake</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Recipe2">Sichuan Chicken Wings</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Recipe3">Gimbap</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Recipe4">Pumpkin Rice Noodles</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Recipe5">Egg Sauce</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Recipe6">Injera</a>
        </li>
    </ul>
</nav>
<div class="container container-fluid">
    <div class="row">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-6 thumb">
                <a class="thumbnail" href="/Recipe1" >
                    <div class="content">
                        <h3>Crab Cakes</h3>
                    </div>
                    <img class="img-thumbnail fixed"
                         src= "/images/crabcakes.jfif"
                         alt="Recipe 1">
                </a>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-6 thumb space">
                <a class="thumbnail" href="/Recipe2">
                    <div class="content">
                        <h3>Sichuan Chicken Wings</h3>
                    </div>
                    <img class="img-thumbnail fixed"
                         src= "/images/chickenwings.jfif"
                         alt="Recipe 2">
                </a>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-6 thumb space">
                <a class="thumbnail" href="/Recipe3" >
                    <div class="content">
                        <h3>Gimbaps</h3>
                    </div>
                    <img class="img-thumbnail fixed"
                         src= "/images/gimbap.jfif"
                         alt="Recipe 3">
                </a>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-6 thumb space">
                <a class="thumbnail" href="/Recipe4" >
                    <div class="content">
                        <h3>Pumpkin Rice Noodles</h3>
                    </div>
                    <img class="img-thumbnail fixed"
                         src= "/images/pumpkinricenoodles.jfif"
                         alt="Recipe 4">
                </a>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-6 thumb space">
                <a class="thumbnail" href="/Recipe5" >
                    <div class="content">
                        <h3>Egg Sauce</h3>
                    </div>
                    <img class="img-thumbnail fixed"
                         src= "/images/eggsauce.jfif"
                         alt="Recipe 5">
                </a>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-6 thumb space">
                <a class="thumbnail" href="/Recipe6" >
                    <div class="content">
                        <h3>Injera</h3>
                    </div>
                    <img class="img-thumbnail fixed"
                         src= "/images/injera.jfif"
                         alt="Recipe 6">
                </a>
            </div>
        </div>
    </div>
</div>


<script src = "/js/bootstrap.js"></script>
</body>
</html>