<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recipe Book</title>
    <link rel = "stylesheet" href = "/css/bootstrap.css">
    <link rel = "stylesheet" href="/css/custom.css">
</head>
<body class = "index">
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand/logo -->
    <a class="navbar-brand" id = #logo href="/">My Recipe Book</a>

    <!-- Links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/gallery">Gallery</a>
        <li class="nav-item">
            <a class="nav-link" href="/Recipe1">Crabcake</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Recipe2">Sichuan Chicken Wings</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Recipe3">Gimbap</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Recipe4">Pumpkin Rice Noodles</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Recipe5">Egg Sauce</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Recipe6">Injera</a>
        </li>
    </ul>
</nav>

<div id="parent">
    <div id="floater">
    <div id="child">
        <h1>My Recipe Book</h1>
        <h2>A Collection of Recipes</h2>
    </div><!--child-->
</div><!--parent-->
    <script src = "/static/js/bootstrap.js"></script>

</body>
</html>