<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recipe 3</title>
    <link rel = "stylesheet" href = "/css/bootstrap.css">
    <link rel = "stylesheet" href="/css/custom.css">
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand/logo -->
    <a class="navbar-brand" id = #logo href="/">My Recipe Book</a>

    <!-- Links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/gallery">Gallery</a>
        <li class="nav-item">
            <a class="nav-link" href="/Recipe1">Crabcake</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Recipe2">Sichuan Chicken Wings</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Recipe3">Gimbap</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Recipe4">Pumpkin Rice Noodles</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Recipe5">Egg Sauce</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Recipe6">Injera</a>
        </li>
    </ul>
</nav>
    <div class="container container-fluid">
    <h1>Gimbap</h1>
    <img src="/images/korea.png" alt = "South Korean flag" class="left"/>
    <h2> South Korea </h2>
    <h3>Ingredients:</h3>
    <ul>
        <li> 1 cup uncooked glutinous white rice (sushi rice) </li>
        <li> 1 1/2 cups water1 tablespoon sesame oilsalt, to taste2 eggs, beaten </li>
        <li> 1 cucumber, cut into thin strips </li>
        <li> 1 carrot, cut into thin strips </li>
        <li> 4 slices American processed cheese, cut into thin strips </li>
        <li> 4 slices cooked ham, cut into thin strips </li>
        <li> 2 teaspoons sesame oil </li>
    </ul>
    <h2>Directions:</h2>
    <p>
        Rinse the rice in a strainer or colander until the water runs clear.
        Combine the rice with water in a saucepan. Bring to a boil, then reduce the heat to low; cover and simmer until rice is tender, 12 to 14 minutes.
        Spread cooked rice onto a baking sheet to cool. Season with 1 tablespoon of sesame oil and salt.
    </p>
    <p>
        While the rice is simmering, pour the eggs into a skillet over medium-high heat and allow to cook without stirring or turning to get a flat layer of cooked egg.
        When egg is completely cooked, remove from skillet and set aside on a cutting board to cool.

    </p>
    <p>
        Separate the nori sheets onto a flat surface and divide the cooled rice between them, leaving only a half-inch strip of seaweed visible at the top of each sheet.
        Arrange strips of egg, cucumber, carrot, cheese, and ham in thin layers on top of the rice.
        Beginning with the bottom of each sheet of nori, use a bamboo sushi mat to firmly roll each piece into a cylindrical shape.
        Brush each roll with 1/2 teaspoon of sesame oil and cut into six even pieces.
    </p>

    <p><strong>Serves 3 people</strong></p>
    </div>
</body>
</html>