<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recipe 5</title>
    <link rel = "stylesheet" href = "/css/bootstrap.css">
    <link rel = "stylesheet" href="/css/custom.css">
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand/logo -->
    <a class="navbar-brand" id = #logo href="/">My Recipe Book</a>

    <!-- Links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/gallery">Gallery</a>
        <li class="nav-item">
            <a class="nav-link" href="/Recipe1">Crabcake</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Recipe2">Sichuan Chicken Wings</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Recipe3">Gimbap</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Recipe4">Pumpkin Rice Noodles</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Recipe5">Egg Sauce</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Recipe6">Injera</a>
        </li>
    </ul>
</nav>
    <div class="container container-fluid">
    <h1>Egg Sauce</h1>
    <img src="/images/nigeria.png" alt = "Nigerian flag" class="left"/>
    <h2> Nigeria </h2>
    <h3>Ingredients:</h3>
    <ul>
        <li> 2 large tomatoes </li>
        <li> 1 large onion </li>
        <li> 1 scotch bonnet pepper </li>
        <li> 2 tablespoons of cooking oil (any type) </li>
        <li> 4 or 5 eggs (depending on number of people eating) </li>
        <li> Seasonings (suya pepper, garlic powder, thyme, etc) </li>

    </ul>
    <h2>Directions:</h2>
    <p>
        Dice onions, tomatoes and 1 scotch bonnet pepper (depending on how hot you want it to be) or can be replaced with black pepper.
        Add the diced onions, tomatoes and pepper into a pot, and cook until some of the juices are dried up.
        Then add a table spoon or 2 (enough to cook the eggs) to the mixture
        Fry for a little bit, then add seasonings ( suya pepper gotten from Tesco, any other type of seasoning pepper can be used, garlic powder, Nigerian knorr seasoning cubes stock cubes can be used instead but not diluted with water, thyme, pinch of salt and any other seasoning you like)
        Then add the eggs and cook until well done.
    </p>


    <p><strong>Serves 3 people</strong></p>
</div>
</body>
</html>