<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recipe 2</title>
    <link rel = "stylesheet" href = "/css/bootstrap.css">
    <link rel = "stylesheet" href="/css/custom.css">
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand/logo -->
    <a class="navbar-brand" id = #logo href="/">My Recipe Book</a>

    <!-- Links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/gallery">Gallery</a>
        <li class="nav-item">
            <a class="nav-link" href="/Recipe1">Crabcake</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Recipe2">Sichuan Chicken Wings</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Recipe3">Gimbap</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Recipe4">Pumpkin Rice Noodles</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Recipe5">Egg Sauce</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Recipe6">Injera</a>
        </li>
    </ul>
</nav>
    <div class="container container-fluid">
    <h1>Sichuan Chicken Wings</h1>
    <img src="/images/china.png" alt = "Chinese flag" class="left"/>
    <h2> China </h2>
    <h3>Ingredients:</h3>
    <ul>
        <li> 800g chicken wings </li>
        <li> 1 tbsp baking powder </li>
        <li> 1½ tsp Sichuan peppercorns </li>
        <li> 1½ tsp chilli flakes </li>
        <li> 3 tbsp Shaoxing wine </li>
        <li> 1½ tbsp garlic and ginger paste </li>
        <li> 3 tbsp dark soy sauce </li>
        <li> 3 tbsp light soy sauce </li>
        <li> 1½ tsp sesame oil </li>
        <li> 3 tbsp light soy sauce </li>
        <li> 3 tbsp palm sugar </li>
        <li> 3 tbsp palm sugar </li>
        <li> chopped peanuts </li>
        <li> chilli flakes </li>

    </ul>
    <h2>Directions:</h2>
    <p>
        Heat oven to 160C/140C fan/gas 3.
    </p>
    <p>
        Toss the chicken in 1 tsp salt and the baking powder – this is the secret to getting crispy skin!
        Put the wings on a wire rack set over an oven tray. Bake for 30 mins, turning halfway, then turn the heat up to 220C/200C fan/gas 7 and cook for 20 mins more.
    </p>
    <p>
        Meanwhile, toast the peppercorns and chilli flakes until fragrant, about 2 mins, then grind using a pestle and mortar.
        Tip into a saucepan, then add the rest of the ingredients apart from the chopped peanuts and chilli flakes.
        Whisk to combine, then cook over a medium heat for 8-10 mins until thickened and bubbling. Set aside.
    </p>
    <p>
        Take the chicken off the rack and tip onto the tray, then coat in the glaze. Return to the oven for 5 mins until bubbling and sticky.
        Serve the chicken scattered with the peanuts and chilli flakes.
    </p>
    <p><strong>Serves 6 people</strong></p>
    </div>
</body>
</html>