<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recipe 4</title>
    <link rel = "stylesheet" href = "/css/bootstrap.css">
    <link rel = "stylesheet" href="/css/custom.css">
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand/logo -->
    <a class="navbar-brand" id = #logo href="/">My Recipe Book</a>

    <!-- Links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/gallery">Gallery</a>
        <li class="nav-item">
            <a class="nav-link" href="/Recipe1">Crabcake</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Recipe2">Sichuan Chicken Wings</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Recipe3">Gimbap</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Recipe4">Pumpkin Rice Noodles</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Recipe5">Egg Sauce</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Recipe6">Injera</a>
        </li>
    </ul>
</nav>
    <div class="container container-fluid">
    <h1>Pumpkin Rice Noodles</h1>
    <img src="/images/taiwan.png" alt = "Taiwanese flag" class="left"/>
    <h2> Taiwan </h2>
    <h3>Ingredients:</h3>
    <ul>
        <li> 100g (3.5 oz) dried rice vermicelli </li>
        <li> 2 tablespoons oil </li>
        <li> 2 cloves garlic, minced </li>
        <li> 100g (3.5 oz) ground pork </li>
        <li> 100g (3.5 oz) pumpkin (or kabocha), diced </li>
        <li> ½ cup water </li>
        <li> 2 tablespoons soy sauce </li>
        <li> 1 tablespoon sweet soy sauce </li>
        <li> 3 dashes white pepper </li>

    </ul>
    <h2>Directions:</h2>
    <ol>
        <li> 1. Soak the dried rice vermicelli in warm water for about 20 minutes. Drain the water and set aside. </li>
        <li> 2. Heat up the oil in a wok and add the garlic. Stir-fry the garlic until aromatic before adding the ground pork and pumpkin. </li>
        <li> 3. Add the water, soy sauce, sweet soy sauce, white pepper and bring to boil. </li>
        <li> 4. Add the rice vermicelli into the wok, stir to combine well with the ingredients in the wok.
            Continue to stir fry until the vermicelli is cooked through and soaked up the sauce. Dish out and serve immediately. </li>
    </ol>

    <p><strong>Serves 1 person</strong></p>
</div>
</body>
</html>