<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recipe 1</title>
    <link rel = "stylesheet" href = "/css/bootstrap.css">
    <link rel = "stylesheet" href="/css/custom.css">
</head>
    <body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <!-- Brand/logo -->
        <a class="navbar-brand" id = #logo href="/">My Recipe Book</a>

        <!-- Links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/gallery">Gallery</a>
            <li class="nav-item">
                <a class="nav-link" href="/Recipe1">Crabcake</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Recipe2">Sichuan Chicken Wings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Recipe3">Gimbap</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Recipe4">Pumpkin Rice Noodles</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Recipe5">Egg Sauce</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Recipe6">Injera</a>
            </li>
        </ul>
    </nav>
    <div class="container container-fluid">
    <h1>Crabcake Recipe</h1>
    <img src="/images/maryland.png" alt = "Maryland flag" class="left"/>
    <h2> Maryland, USA</h2>
    <h3>Ingredients:</h3>
    <ul>
    <li> 1 lb. jumbo lump or backfin crab meat</li>
    <li> 2 slices bread or bread crumbs</li>
    <li> 1 tbsp. mayonnaise (light or regular)</li>
    <li> 1 tbsp. Dijon mustard</li>
    <li> 2 tsp. Old Bay seasoning</li>
    <li> 1 tbsp. snipped parsley</li>
    <li> 1 egg (or substitute for special diets)</li>
    <li> tartar sauce or cocktail sauce</li>
    </ul>
    <h2>Directions:</h2>
    <p>Beat the egg in a bowl. Trim the crusts from the bread and break the slices into small pieces. Add these pieces to the egg. Mix in the mayonnaise, Dijon mustard, Chesapeake seasoning and parsley, and beat well.</p>
    <p>Place the crabmeat in a bowl and pour the egg mixture over the top. Gently toss or fold the ingredients together, taking care not to break up the lumps of crabmeat.</p>
    <p>Form the cakes by hand into patties about 3 inches around and 3/4-inch thick. Shape should be like a cookie, not like a meatball or golf ball. Place the cakes in the refrigerator for at least 45 minutes before cooking. This is very important so the cakes don't fall apart.</p>
    <h3>Broil the Crab Cakes:</h3>
    <p>Slip them under a preheated broiler until nicely browned, turning to cook evenly, about 4 to 5 minutes on each side.</p>
    <h3>Or saute:</h3>
    <p>Heat a small amount of butter or olive oil in a skillet and saute the cakes, turning several times, until golden brown or about 8 minutes total cooking time.</p>
    <p>Serve at once with tartar sauce, mustard, or cocktail sauce on the side.</p>
    <p><strong>Serves 6 people</strong></p>
    </div>
</body>
</html>